<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EPetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,434},{57,31}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{57,31}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{57,31}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{57,31}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,35},{55,23}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{55,23}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,130},{55,23}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{55,23}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,388},{33,21}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{33,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,353},{33,21}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{33,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,422},{17,17}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{17,17}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,406},{17,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{17,17}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,430},{37,21}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,19},{37,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,430},{37,21}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,19},{37,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{101,89}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{101,89}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,87}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{101,87}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,93}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{101,93}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{93,87}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{93,87}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{91,83}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{91,83}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,91},{91,87}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{91,87}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,65},{115,59}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{115,59}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{115,59}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{115,59}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{115,61}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{115,61}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,195},{85,79}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{85,79}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,188},{87,75}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{87,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,277},{85,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{85,83}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,130},{67,89}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{67,89}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,199},{67,85}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{67,85}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{67,93}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,440},{47,27}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{47,27}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,440},{47,27}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{47,27}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,369},{51,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{51,23}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,300},{51,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{51,23}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,436},{31,21}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,63},{31,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,436},{31,21}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,63},{31,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,436},{17,17}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,63},{17,17}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,130},{17,17}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{17,17}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,369},{35,21}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{35,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,430},{35,21}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{35,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,199},{87,69}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{87,69}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,365},{87,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{87,67}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,276},{87,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{87,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,365},{73,73}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{73,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,276},{75,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{75,69}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,286},{73,75}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{73,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{105,63}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,37},{105,63}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,63},{103,65}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{103,65}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,362},{105,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{105,61}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,225},{81,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{81,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,63},{85,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{85,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,150},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{81,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,361},{67,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{67,67}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,369},{69,65}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{69,65}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,300},{67,71}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{67,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsTheme01-hd.pvr.ccz</string>
            <key>size</key>
            <string>{505,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a94d2b4491e538806944f2cb006d47e$</string>
            <key>textureFileName</key>
            <string>PetsTheme01-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
