<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,463},{38,40}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PetBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,456},{38,40}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,40}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PetBeFeed01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,457},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{51,45}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,177},{69,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{69,59}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,395},{89,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{89,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,457},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{51,45}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,395},{89,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{89,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,177},{69,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{69,59}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,395},{89,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{89,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed08.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,397},{105,91}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{105,91}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBeFeed09.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,397},{117,99}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{117,99}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetCookie00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,360},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PetCookie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,299},{63,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PetEvolution1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,457},{49,51}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{49,51}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetEvolution2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,318},{77,75}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{77,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetEvolution3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,195},{121,115}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetMainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>PetMenu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,463},{39,40}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{39,40}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>PetMenu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,456},{39,40}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{39,40}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>PetMilk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,395},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PetMilk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,238},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PetNest01.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,336},{121,57}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{121,57}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetNest02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,336},{121,57}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{121,57}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetNest03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,336},{121,43}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{121,43}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetNestBig01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{191,76}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,184},{191,76}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>PetNestBig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,336},{210,59}}</string>
                <key>offset</key>
                <string>{-10,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,214},{210,59}}</string>
                <key>sourceSize</key>
                <string>{468,273}</string>
            </dict>
            <key>PetShop01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,395},{113,36}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{113,36}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>PetShop02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,395},{113,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{113,34}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>PetShovel00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,457},{40,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PetShovel01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,421},{40,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PetTimeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,336},{107,31}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,90},{107,31}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetTime_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{55,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,7}}</string>
                <key>sourceSize</key>
                <string>{55,7}</string>
            </dict>
            <key>PetTime_num_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,318},{107,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,13}}</string>
                <key>sourceSize</key>
                <string>{109,13}</string>
            </dict>
            <key>PetToolBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{624,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,56}}</string>
                <key>sourceSize</key>
                <string>{624,58}</string>
            </dict>
            <key>rolltip_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{173,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{173,94}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>speech_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,381},{100,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{100,74}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_a_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,478},{44,14}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{44,14}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_a_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,478},{52,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{52,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_a_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{78,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{78,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_a_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,478},{68,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{68,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_a_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,478},{68,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{68,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_a_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,478},{60,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{60,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,395},{100,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{100,74}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,478},{70,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{70,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,478},{60,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{60,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,478},{44,30}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{44,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,478},{56,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{56,30}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,487},{68,14}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{68,14}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>speech_b_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,471},{72,14}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{72,14}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>whale_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{598,332}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,75},{598,332}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsNest-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1416,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123a1281e772629c545ba7bd4f74d85f$</string>
            <key>textureFileName</key>
            <string>PetsNest-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
