<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,81},{21,21}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{21,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,81},{21,21}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,39},{21,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,93},{53,21}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{53,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,95},{53,23}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{53,23}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,103},{29,15}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{29,15}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,103},{29,15}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{29,15}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,71},{39,19}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,49},{39,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,90},{39,19}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,49},{39,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,71},{29,19}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,21},{29,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,71},{29,19}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,21},{29,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,79}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{117,79}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{113,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{113,81}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{113,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{113,81}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{71,77}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{71,77}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,2},{73,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{73,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{71,81}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{71,81}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{101,81}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{101,81}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{101,81}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{101,81}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{99,83}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{99,83}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,71},{41,91}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{41,91}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,71},{43,87}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,8},{43,87}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,71},{41,91}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{41,91}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,2},{69,77}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{69,77}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{67,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{67,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>PetLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{75,77}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{75,77}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,91},{45,21}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,55},{45,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,91},{45,21}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{45,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,95},{55,21}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{55,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,95},{55,21}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,57},{55,21}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,71},{29,17}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,62},{29,17}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,71},{29,17}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,62},{29,17}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,91},{41,19}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,63},{41,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,91},{41,19}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,63},{41,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,71},{31,19}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,43},{31,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SEPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,71},{31,19}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,43},{31,19}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{91,71}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{91,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{91,67}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{91,67}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{91,71}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{91,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{69,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{69,69}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{69,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{69,67}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{67,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{87,71}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{87,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{89,71}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,33},{89,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{87,71}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{87,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{53,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{53,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,2},{53,73}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{53,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,57},{51,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{51,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{67,69}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,2},{73,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{73,67}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>SPetLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,2},{65,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsTheme02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1964,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1df61c29c0bc6a3ee12e773bf53411fc$</string>
            <key>textureFileName</key>
            <string>PetsTheme02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
