<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShopMainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>buy_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,698},{126,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{126,47}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>buy_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,649},{126,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{126,47}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>disablead.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,894},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>disablead_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,671},{57,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{57,48}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>get_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,758},{124,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{124,47}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>get_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,734},{124,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{124,47}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,807},{118,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,40}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{531,380}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{531,380}}</string>
                <key>sourceSize</key>
                <string>{585,390}</string>
            </dict>
            <key>shop_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,883},{45,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>shop_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,754},{45,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,568},{193,53}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{193,53}}</string>
                <key>sourceSize</key>
                <string>{273,65}</string>
            </dict>
            <key>shop_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{585,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,89}}</string>
                <key>sourceSize</key>
                <string>{585,91}</string>
            </dict>
            <key>shop_warning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{468,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{468,217}}</string>
                <key>sourceSize</key>
                <string>{474,221}</string>
            </dict>
            <key>shop_warning_cancel_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,941},{34,19}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,19},{34,19}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>shop_warning_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,623},{140,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,49}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>shop_warning_cancel_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,598},{140,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,49}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>shop_warning_goon_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,862},{66,19}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,19},{66,19}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>shop_warning_goon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,674},{140,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,49}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>shop_warning_goon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,623},{140,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,49}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>shop_warning_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,472},{260,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{260,71}}</string>
                <key>sourceSize</key>
                <string>{286,85}</string>
            </dict>
            <key>sicon_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,780},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,780},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,807},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,849},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,860},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,589},{85,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,721},{19,16}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,75},{19,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,880},{29,16}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,75},{29,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x105.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,862},{39,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{39,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,420},{37,16}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,75},{37,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,758},{47,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,75},{47,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,898},{29,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,75},{29,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,862},{29,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,75},{29,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x155.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,721},{37,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,75},{37,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,757},{21,16}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,76},{21,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,880},{31,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,75},{31,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x260.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,707},{43,16}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,75},{43,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x280.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,689},{43,16}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,76},{43,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,739},{23,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,75},{23,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,883},{33,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,75},{33,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x320.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,671},{43,16}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,75},{43,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,725},{21,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,75},{21,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x525.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,420},{41,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,75},{41,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x55.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,898},{31,16}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,75},{31,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,725},{23,16}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{23,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,880},{31,16}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,76},{31,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,862},{33,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,75},{33,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>sicon_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,898},{23,16}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,75},{23,16}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>slideup_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,472},{173,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{173,94}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>stage_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{561,174}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{561,174}}</string>
                <key>sourceSize</key>
                <string>{585,182}</string>
            </dict>
            <key>stage_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{561,148}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{561,148}}</string>
                <key>sourceSize</key>
                <string>{585,156}</string>
            </dict>
            <key>switch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,420},{332,53}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{332,53}}</string>
                <key>sourceSize</key>
                <string>{338,65}</string>
            </dict>
            <key>switch_free_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,802},{137,31}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{137,31}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>switch_free_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,747},{137,31}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{137,31}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>switch_shop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,725},{137,31}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{137,31}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>switch_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,565},{137,31}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{137,31}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>valuepack_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,931},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsShop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1088,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6340292fbd16c31405c51cc5c683fedd$</string>
            <key>textureFileName</key>
            <string>PetsShop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
