<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{76,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,2},{42,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,63},{42,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{78,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_04_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,2},{22,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,63},{22,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_05_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,66},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_06_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,51},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_07_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,36},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_08_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_09_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,36},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{42,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,63},{42,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_12_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,36},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_13_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_14_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,36},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_15_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,61},{42,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{42,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_16_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_17_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,36},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_18_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_19_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,46},{42,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{42,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_20_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,46},{32,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{32,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{76,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,83}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>monster_21_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,2},{42,13}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,63},{42,13}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsIcon-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1956,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2809c0c299793e88664ef80141ed30b7$</string>
            <key>textureFileName</key>
            <string>PetsIcon-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
