<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EggBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,148},{65,71}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{65,71}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,75},{65,71}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggBoss13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,148},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{65,71}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,148},{65,71}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,148},{65,71}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFat13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,85},{81,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{81,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{67,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{67,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,102},{81,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{81,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,168},{67,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{67,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,114},{81,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,114},{81,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{81,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,185},{67,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{67,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggFly13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,148},{63,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{63,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,148},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{63,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{63,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,148},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,75},{63,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{63,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,75},{57,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{57,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,148},{65,71}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{57,73}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{57,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,148},{65,71}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,197},{57,73}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{57,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,148},{65,71}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,197},{57,73}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{57,73}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggLand23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,110}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,118},{85,110}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>EggWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{85,110}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,118},{85,110}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>EggWhale13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{65,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggWhale13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,110}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,118},{85,110}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
            <key>EggYZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,85},{59,15}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,78},{59,15}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>EggYZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{91,22}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,187},{91,22}}</string>
                <key>sourceSize</key>
                <string>{325,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsEgg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1393,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c07c681eead29f6530138fbaa9259328$</string>
            <key>textureFileName</key>
            <string>PetsEgg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
