<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_01_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1805},{265,191}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{265,191}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1612},{265,191}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{265,191}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_02_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{265,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{265,199}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,828},{265,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{265,199}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_03_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{265,201}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{265,201}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,625},{265,201}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{265,201}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_04_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{265,193}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{265,193}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1224},{265,193}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{265,193}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_05_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1841},{265,191}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{265,191}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1419},{265,191}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{265,191}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_06_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{265,209}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{265,209}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{265,209}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{265,209}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_07_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{265,203}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{265,203}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_07_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,420},{265,203}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{265,203}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_08_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{265,193}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{265,193}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>boss_08_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1029},{265,193}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{265,193}}</string>
                <key>sourceSize</key>
                <string>{273,221}</string>
            </dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1887},{91,99}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{91,99}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1784},{91,101}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{91,101}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,420},{95,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{95,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>ss_honor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1677},{78,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,105}}</string>
                <key>sourceSize</key>
                <string>{78,117}</string>
            </dict>
            <key>theme_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1506},{26,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{26,23}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1465},{42,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>theme_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1557},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{118,44}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>theme_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1341},{122,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,48}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>theme_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1217},{122,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,48}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>timelimit_100_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1387},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_110_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1047},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_120_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1217},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_130_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,877},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_140_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1047},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_168_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,707},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_180_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,877},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_220_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,537},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_240_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,707},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_60_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,537},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_80_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1998},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>timelimit_90_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1998},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{168,44}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiboss2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{633,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3628baf96d3463a88396e34418a45ab9$</string>
            <key>textureFileName</key>
            <string>antiboss2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
