<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qqewr0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,152},{1,1}}</string>
                <key>offset</key>
                <string>{-178.5,178.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1944},{84,76}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,60},{84,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1868},{94,80}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,59},{94,80}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1904},{104,90}}</string>
                <key>offset</key>
                <string>{-4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,53},{104,90}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{110,100}}</string>
                <key>offset</key>
                <string>{-5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,49},{110,100}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,392},{118,108}}</string>
                <key>offset</key>
                <string>{-7,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,46},{118,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,276},{122,114}}</string>
                <key>offset</key>
                <string>{-8,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,44},{122,114}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,152},{130,122}}</string>
                <key>offset</key>
                <string>{-9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,41},{130,122}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{148,140}}</string>
                <key>offset</key>
                <string>{-8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,33},{148,140}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{166,154}}</string>
                <key>offset</key>
                <string>{-7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,28},{166,154}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{180,164}}</string>
                <key>offset</key>
                <string>{-5,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,25},{180,164}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,902},{188,176}}</string>
                <key>offset</key>
                <string>{-3,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,17},{188,176}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,712},{188,190}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,4},{188,190}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,502},{200,208}}</string>
                <key>offset</key>
                <string>{-2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{200,208}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1080},{224,220}}</string>
                <key>offset</key>
                <string>{1,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{224,220}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1302},{252,228}}</string>
                <key>offset</key>
                <string>{-2,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{252,228}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{282,234}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{282,234}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{302,238}}</string>
                <key>offset</key>
                <string>{-8,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{302,238}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{320,252}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{320,252}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{322,262}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{322,262}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,266}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{320,266}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1556},{310,266}}</string>
                <key>offset</key>
                <string>{-15,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{310,266}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,270},{52,94}}</string>
                <key>offset</key>
                <string>{-2,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,53},{52,94}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1826},{60,76}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,75},{60,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1964},{72,82}}</string>
                <key>offset</key>
                <string>{-5,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,73},{72,82}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1868},{76,94}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,65},{76,94}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{82,106}}</string>
                <key>offset</key>
                <string>{-4,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,57},{82,106}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1868},{74,88}}</string>
                <key>offset</key>
                <string>{-9,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,69},{74,88}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,366},{48,54}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,105},{48,54}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>qqewr0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,152},{1,1}}</string>
                <key>offset</key>
                <string>{-178.5,178.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover-qqewr-hd.pvr.ccz</string>
            <key>size</key>
            <string>{468,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:943b19b3f19a88a332701d975c4bde1c$</string>
            <key>textureFileName</key>
            <string>gameover-qqewr-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
