<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,143},{170,83}}</string>
                <key>offset</key>
                <string>{-12,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{170,83}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>desert_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,394},{250,323}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{250,323}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>desert_unlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,719},{152,81}}</string>
                <key>offset</key>
                <string>{11,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,57},{152,81}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>extreme_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,335}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,335}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>extreme_unlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,311},{152,81}}</string>
                <key>offset</key>
                <string>{13,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,56},{152,81}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>goextreme.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{254,335}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{254,335}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>goextreme_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{170,139}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{170,139}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>jungle_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{254,335}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,335}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
            <key>jungle_unlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,228},{152,81}}</string>
                <key>offset</key>
                <string>{13,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{152,81}}</string>
                <key>sourceSize</key>
                <string>{260,351}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goextreme-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85802c9bf939a7bbb38d885a0c7fbc06$</string>
            <key>textureFileName</key>
            <string>goextreme-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
