<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{181,161}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,122},{181,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,817},{147,161}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,122},{147,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,328},{165,161}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,122},{165,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_04_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,328},{149,161}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{149,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_05_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{181,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,122},{181,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_06_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{177,161}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,122},{177,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_07_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,817},{147,161}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,122},{147,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_08_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{173,161}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,122},{173,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_09_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,161}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,122},{185,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,491},{149,161}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,122},{149,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,165},{173,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,122},{173,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_12_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{169,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,122},{169,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_13_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{153,161}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,122},{153,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_14_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,654},{147,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{147,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_15_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,491},{147,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{147,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_16_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,165},{153,161}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{153,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_17_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,817},{147,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{147,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_18_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,654},{147,161}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,122},{147,161}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{165,123}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,140},{165,123}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{574,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e2204ff35ccb7c89621953e0be4d2c$</string>
            <key>textureFileName</key>
            <string>help_2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
