<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,40}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{566,40}}</string>
                <key>sourceSize</key>
                <string>{624,46}</string>
            </dict>
            <key>bottom_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,261},{62,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,10}}</string>
                <key>sourceSize</key>
                <string>{62,10}</string>
            </dict>
            <key>bottom_num_HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,769},{125,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,18}}</string>
                <key>sourceSize</key>
                <string>{125,20}</string>
            </dict>
            <key>help_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,261},{78,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>help_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,821},{78,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{78,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>help_monster_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{434,109}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,164},{434,109}}</string>
                <key>sourceSize</key>
                <string>{624,345}</string>
            </dict>
            <key>monster_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,309},{40,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{40,22}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>monster_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>tips_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,309},{40,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{40,22}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>tips_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,789},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>tips_text_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{273,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,24},{273,19}}</string>
                <key>sourceSize</key>
                <string>{553,65}</string>
            </dict>
            <key>tips_text_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,23},{367,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,24},{367,19}}</string>
                <key>sourceSize</key>
                <string>{553,65}</string>
            </dict>
            <key>tips_text_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{481,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{481,19}}</string>
                <key>sourceSize</key>
                <string>{553,65}</string>
            </dict>
            <key>tips_text_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,2},{269,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,24},{269,19}}</string>
                <key>sourceSize</key>
                <string>{553,65}</string>
            </dict>
            <key>tower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,637},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,616},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,309},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,330},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,23},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,658},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,351},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,658},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,351},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,44},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,568},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,261},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,44},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,462},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,155},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{215,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{215,305}}</string>
                <key>sourceSize</key>
                <string>{229,319}</string>
            </dict>
            <key>tower_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,114},{42,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,14},{42,22}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>tower_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,277},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1521,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530a3add3881d2bc8969c45b7b03718c$</string>
            <key>textureFileName</key>
            <string>help_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
