<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18183_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,257},{46,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>18183_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,304},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,166},{114,59}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{114,59}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>btn_adventure_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,130},{191,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{191,58}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>btn_adventure_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,343},{191,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{191,58}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,166},{130,92}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,92}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>btn_boss_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,348},{189,60}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{189,60}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>btn_boss_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,348},{189,60}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{189,60}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,125},{65,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,262},{65,39}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>btn_nest_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,84},{181,80}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{181,80}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>btn_nest_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{181,80}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{181,80}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,289},{65,39}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,190},{65,39}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{143,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,126}}</string>
                <key>sourceSize</key>
                <string>{143,130}</string>
            </dict>
            <key>chaozhi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,304},{83,34}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{83,34}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>chaozhi_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,190},{97,48}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{97,48}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,282},{23,25}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,262},{41,41}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,85},{73,38}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{73,38}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,130},{172,75}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{172,75}}</string>
                <key>sourceSize</key>
                <string>{182,117}</string>
            </dict>
            <key>leaf-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{81,75}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{81,75}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>leaf-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{89,92}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{89,92}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>leaf-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,85},{76,73}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{76,73}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,282},{57,49}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{57,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>mainbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{344,190}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,146},{344,190}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>moregame_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,307},{83,34}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{83,34}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>moregame_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,298},{97,48}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{97,48}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>news_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,282},{23,25}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>news_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,262},{41,41}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>weiboicon01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,160},{40,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon01_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,305},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,377},{40,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon02_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,192},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,376},{40,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon03_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,330},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,262},{40,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon04_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,190},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,262},{40,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon05_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,2},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,376},{40,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>weiboicon06_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,330},{70,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1413,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a49b8d8e759d3075ac3b5b32180ac10b$</string>
            <key>textureFileName</key>
            <string>mainscene1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
