<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theend2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,350},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>theend2_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{474,348}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,40},{474,348}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>theend2_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,891},{45,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>theend2_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,891},{45,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>theend2_tweibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,828},{62,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{62,62}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>theend2_tweibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,536},{90,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,86}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>theend2_wechat_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,761},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{66,66}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>theend2_wechat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,694},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{66,66}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>theend2_wechat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,447},{88,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,90}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>theend2_weibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,623},{70,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{70,70}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>theend2_weibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,350},{96,92}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newtheme-hd.pvr.ccz</string>
            <key>size</key>
            <string>{511,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59fcc824e432d9c1315df42d89ee899$</string>
            <key>textureFileName</key>
            <string>newtheme-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
