<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recommend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>recommend_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,126},{45,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>recommend_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,80},{45,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>recommend_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{80,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>recommend_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,172},{20,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{20,30}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>recommend_left_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,122},{34,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>recommend_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,164},{20,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{20,30}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>recommend_right_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,80},{34,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{34,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recommend-hd.pvr.ccz</string>
            <key>size</key>
            <string>{704,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:715b05db4b83cd9bd75f9607bca5a583$</string>
            <key>textureFileName</key>
            <string>recommend-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
