<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,193},{139,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{139,47}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>achievements_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,144},{139,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{139,47}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>bgmusic_off_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,27},{93,44}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{93,44}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>bgmusic_on_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,73},{91,44}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{91,44}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>credits_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,3},{58,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{58,22}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>credits_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,3},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>gamecenter_off_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,191},{122,45}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{122,45}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>gamecenter_on_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,144},{126,45}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{126,45}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>language_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,3},{139,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{139,49}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>language_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,3},{139,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{139,49}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>leaderborad_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,3},{139,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{139,49}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>leaderborad_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,3},{139,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{139,49}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>options_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,119},{38,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,13},{38,22}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>options_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,3},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>resetgame_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,193},{139,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{139,47}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>resetgame_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,193},{139,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{139,47}}</string>
                <key>sourceSize</key>
                <string>{143,65}</string>
            </dict>
            <key>setting_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,3},{272,188}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,107},{272,188}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>setting_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,181},{85,60}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,60}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>setting_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,181},{85,60}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,60}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>soundfx_off_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,135},{93,44}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{93,44}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>soundfx_on_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,27},{91,44}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{91,44}}</string>
                <key>sourceSize</key>
                <string>{117,52}</string>
            </dict>
            <key>statistics_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,238}}</string>
                <key>offset</key>
                <string>{89,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,126},{256,238}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>statistics_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,3},{76,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{76,22}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>statistics_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,3},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{983,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce446fadb5e112c1e8447c7585e70e31$</string>
            <key>textureFileName</key>
            <string>setting02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
