<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{312,42}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,166},{312,42}}</string>
                <key>sourceSize</key>
                <string>{312,208}</string>
            </dict>
            <key>ss_map21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map22.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map23.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map24.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map25.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map26.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,86},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{93,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{93,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,65},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,67},{151,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{151,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,88},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{113,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,67},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{113,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,67},{93,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{93,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,86},{55,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{55,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,46},{151,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{151,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,65},{55,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{55,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,86},{37,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,2},{37,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,46},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{113,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,88},{131,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{131,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,86},{37,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,2},{37,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,23},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,88},{113,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{113,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,46},{93,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{93,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,44},{55,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{55,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,44},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,23},{55,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{55,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,23},{73,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{73,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,65},{37,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,2},{37,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,65},{37,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,2},{37,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,44},{57,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{57,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
            <key>ss_towers_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,23},{55,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{55,19}}</string>
                <key>sourceSize</key>
                <string>{167,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme52.pvr.ccz</string>
            <key>size</key>
            <string>{1756,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:073844b01a90ccb933b3dfff5afa4ebf$</string>
            <key>textureFileName</key>
            <string>stages_theme52.pvr.ccz</string>
        </dict>
    </dict>
</plist>
