<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,665},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,665},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,444},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,444},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,665},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,444},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map13.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,665},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map14.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,444},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map15.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map16.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1657,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e4afe604a1994789363027d58eb21b0$</string>
            <key>textureFileName</key>
            <string>stages_theme5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
