<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,223},{624,84}}</string>
                <key>offset</key>
                <string>{0,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,332},{624,84}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>ss_map21.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map22.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map23.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map24.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map25.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_map27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,219}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{329,219}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,389},{147,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,5},{147,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,349},{187,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,5},{187,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,360},{147,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,5},{147,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,320},{147,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,5},{147,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,162},{301,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{301,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,309},{223,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{223,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,309},{223,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{223,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,349},{185,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,5},{185,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,82},{111,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,5},{111,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,122},{301,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{301,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,42},{111,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,5},{111,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,400},{147,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,6},{147,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,280},{73,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,5},{73,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,80},{223,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{223,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{261,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{261,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,400},{73,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,6},{73,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,309},{147,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,5},{147,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,40},{223,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{223,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,349},{185,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,5},{185,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{111,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,5},{111,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,389},{147,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,6},{147,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,160},{111,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,6},{111,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,389},{147,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,6},{147,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,240},{73,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,5},{73,38}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,389},{73,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,6},{73,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,122},{111,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,6},{111,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
            <key>ss_towers_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,202},{111,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,6},{111,36}}</string>
                <key>sourceSize</key>
                <string>{335,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme52-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1743,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a73727bdcf1e977967fa19530c3eb56$</string>
            <key>textureFileName</key>
            <string>stages_theme52-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
