<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map16.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>ss_map20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme5.pvr.ccz</string>
            <key>size</key>
            <string>{1682,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71e86059af2f33fb1dfc8ecc47ca6ed$</string>
            <key>textureFileName</key>
            <string>stages_theme5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
