<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,420},{77,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{77,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,412},{81,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{81,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{77,105}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{77,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,412},{78,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,105}}</string>
                <key>sourceSize</key>
                <string>{78,117}</string>
            </dict>
            <key>map_covered.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{327,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{327,217}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>map_covered_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,263},{171,147}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{171,147}}</string>
                <key>sourceSize</key>
                <string>{335,221}</string>
            </dict>
            <key>ss_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,470},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{26,21}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>ss_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,323},{42,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,37}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>ss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,416}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>ss_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,420},{76,22}}</string>
                <key>offset</key>
                <string>{3,189}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,8},{76,22}}</string>
                <key>sourceSize</key>
                <string>{624,416}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,470},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{26,27}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,282},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>ss_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,420},{143,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{143,44}}</string>
                <key>sourceSize</key>
                <string>{195,52}</string>
            </dict>
            <key>ss_locked_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,282},{78,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,98}</string>
            </dict>
            <key>ss_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,420},{147,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{147,48}}</string>
                <key>sourceSize</key>
                <string>{195,52}</string>
            </dict>
            <key>ss_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,420},{147,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{147,48}}</string>
                <key>sourceSize</key>
                <string>{195,52}</string>
            </dict>
            <key>ss_waves_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,263},{133,17}}</string>
                <key>offset</key>
                <string>{80,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,3},{133,17}}</string>
                <key>sourceSize</key>
                <string>{335,23}</string>
            </dict>
            <key>ss_waves_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,263},{143,17}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,3},{143,17}}</string>
                <key>sourceSize</key>
                <string>{335,23}</string>
            </dict>
            <key>ss_waves_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,470},{143,17}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,3},{143,17}}</string>
                <key>sourceSize</key>
                <string>{335,23}</string>
            </dict>
            <key>ss_waves_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,221},{315,19}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{315,19}}</string>
                <key>sourceSize</key>
                <string>{335,23}</string>
            </dict>
            <key>ss_waves_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,470},{147,17}}</string>
                <key>offset</key>
                <string>{72,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,3},{147,17}}</string>
                <key>sourceSize</key>
                <string>{335,23}</string>
            </dict>
            <key>ss_waves_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,242},{313,19}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{313,19}}</string>
                <key>sourceSize</key>
                <string>{335,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_bg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{957,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76a9f068603ea8a96643483099241191$</string>
            <key>textureFileName</key>
            <string>stages_bg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
