<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,69}}</string>
                <key>sourceSize</key>
                <string>{319,69}</string>
            </dict>
            <key>share_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{81,17}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,7},{81,17}}</string>
                <key>sourceSize</key>
                <string>{319,69}</string>
            </dict>
            <key>share_tweibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,53},{44,37}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{44,37}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>share_tweibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{54,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{54,49}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>share_wechat_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,49},{38,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{38,35}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>share_wechat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,53},{38,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{38,35}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>share_wechat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{52,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{52,45}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>share_weibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,49},{36,33}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{36,33}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>share_weibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{50,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{50,45}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>weibo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,73},{5,5}}</string>
                <key>offset</key>
                <string>{-64.5,77.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{134,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weibo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{487,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b06fab2fb3c93043c79e5d01bbc6c85a$</string>
            <key>textureFileName</key>
            <string>weibo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
