<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_big01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{78,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{78,70}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>boss_big02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,349},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{76,74}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fat_boss_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,425},{92,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{92,80}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fat_boss_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{90,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{90,76}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fat_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,88},{57,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fat_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,88},{59,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{59,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{39,57}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{39,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{39,53}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{39,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_boss_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{57,79}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{57,79}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>fly_boss_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,139},{57,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{57,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>fly_boss_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,198},{68,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{68,76}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fly_boss_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,273},{68,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{68,84}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fly_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{39,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{39,45}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,41},{39,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{39,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_boss_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,343},{78,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{78,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>land_boss_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,273},{74,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{74,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>land_boss_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{57,71}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>land_boss_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,143},{57,71}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>land_boss_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,202},{69,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{69,79}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>land_boss_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{71,77}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{71,77}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>land_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,43},{49,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{49,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,82},{45,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{45,45}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{37,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{37,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{37,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{43,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{43,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,43},{43,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{43,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters01-hd.pvr.ccz</string>
            <key>size</key>
            <string>{237,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33890fca5dc235130cc3663afec2851$</string>
            <key>textureFileName</key>
            <string>Monsters01-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
