<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,83}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{103,83}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>big_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{101,89}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{101,89}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>fat_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{101,83}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{101,83}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>fat_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{99,89}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{99,89}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>fly_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{75,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{75,87}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>fly_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{77,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{77,95}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>land_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{89,89}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>land_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{95,85}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{95,85}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{776,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ca68a6c0f7ea45f70ac80f58cf132b8$</string>
            <key>textureFileName</key>
            <string>Monsters02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
