<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{138,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>B2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{128,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{128,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>BC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{132,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,130},{126,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{136,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{136,66}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{126,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>S1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>S2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,432},{64,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>S3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,438},{56,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{56,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,346},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hlb0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,414},{46,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{46,16}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,258},{86,82}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,55},{86,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object.png</string>
            <key>size</key>
            <string>{222,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5d858a35fc455837d67c13e9d54d12$</string>
            <key>textureFileName</key>
            <string>object.png</string>
        </dict>
    </dict>
</plist>
