<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_big01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,92}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{118,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>boss_big02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{112,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{112,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fat_boss_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,347},{71,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{71,65}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fat_boss_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,308},{69,73}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{69,73}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fat_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,414},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{47,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fat_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,462},{45,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{45,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{60,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{60,66}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fly_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,200},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{64,62}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fly_boss_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,98},{101,89}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{101,89}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>fly_boss_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{109,89}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{109,89}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>fly_boss_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{71,69}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{71,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fly_boss_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,284},{79,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{79,61}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fly_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,418},{46,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{46,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fly_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,418},{52,42}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>land_boss_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,264},{42,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{42,76}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>land_boss_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,242},{40,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{40,84}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>land_boss_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{85,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>land_boss_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{63,71}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{63,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>land_boss_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,189},{91,51}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>land_boss_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{91,51}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>land_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{27,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{27,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,147},{25,51}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{25,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,463},{53,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{53,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,466},{39,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,379},{65,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,447},{65,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters01-hd.pvr.ccz</string>
            <key>size</key>
            <string>{254,521}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8191e20a336688b526ef2213760113c5$</string>
            <key>textureFileName</key>
            <string>Monsters01-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
