<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossiscoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,284}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,284}}</string>
                <key>sourceSize</key>
                <string>{390,286}</string>
            </dict>
            <key>bossiscoming_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{220,122}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,113},{220,122}}</string>
                <key>sourceSize</key>
                <string>{390,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items09-hd.pvr.ccz</string>
            <key>size</key>
            <string>{412,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c61475ae777abc883caec734ce647a7$</string>
            <key>textureFileName</key>
            <string>Items09-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
