<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CutWhale.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,37},{14,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,152}}</string>
                <key>sourceSize</key>
                <string>{14,152}</string>
            </dict>
            <key>Whale-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,487},{101,47}}</string>
                <key>offset</key>
                <string>{-112,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{101,47}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,438},{101,47}}</string>
                <key>offset</key>
                <string>{-113,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{101,47}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,536},{155,117}}</string>
                <key>offset</key>
                <string>{-116,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{155,117}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{169,137}}</string>
                <key>offset</key>
                <string>{-117,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{169,137}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,396},{169,123}}</string>
                <key>offset</key>
                <string>{-116,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{169,123}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{19,33}}</string>
                <key>offset</key>
                <string>{-48,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,29},{19,33}}</string>
                <key>sourceSize</key>
                <string>{407,295}</string>
            </dict>
            <key>Whale02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,570},{61,37}}</string>
                <key>offset</key>
                <string>{-50,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,20},{61,37}}</string>
                <key>sourceSize</key>
                <string>{407,295}</string>
            </dict>
            <key>Whale03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,521},{69,43}}</string>
                <key>offset</key>
                <string>{-47,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,10},{69,43}}</string>
                <key>sourceSize</key>
                <string>{407,295}</string>
            </dict>
            <key>Whale04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,233},{91,23}}</string>
                <key>offset</key>
                <string>{-46,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,29},{91,23}}</string>
                <key>sourceSize</key>
                <string>{407,295}</string>
            </dict>
            <key>Whale11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,229}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{285,229}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{191,131}}</string>
                <key>offset</key>
                <string>{101,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,98},{191,131}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,261},{189,133}}</string>
                <key>offset</key>
                <string>{100,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,96},{189,133}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale21.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,254},{61,11}}</string>
                <key>offset</key>
                <string>{-116,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{61,11}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale22.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,191},{61,11}}</string>
                <key>offset</key>
                <string>{-119,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{61,11}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale31.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,570},{77,35}}</string>
                <key>offset</key>
                <string>{-108,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,19},{77,35}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale41.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,598},{39,37}}</string>
                <key>offset</key>
                <string>{-46,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,8},{39,37}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale42.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,505},{29,27}}</string>
                <key>offset</key>
                <string>{-46,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,14},{29,27}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale51.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,521},{43,75}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,35},{43,75}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale61.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,258},{87,55}}</string>
                <key>offset</key>
                <string>{114,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,164},{87,55}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale62.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,315},{83,57}}</string>
                <key>offset</key>
                <string>{112,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,162},{83,57}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale71.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{257,193}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,45},{257,193}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>Whale81.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,434},{53,75}}</string>
                <key>offset</key>
                <string>{-92,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,17},{53,75}}</string>
                <key>sourceSize</key>
                <string>{407,239}</string>
            </dict>
            <key>warning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,598},{57,53}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{57,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>warning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,511},{57,53}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{57,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>whalespeech_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,536},{115,30}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{115,30}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>whalespeech_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,317},{115,30}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{115,30}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>whalespeech_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,406},{105,30}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{105,30}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>whalespeech_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,374},{107,30}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{107,30}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>whalespeech_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,566},{99,30}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{99,30}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>whalespeech_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,536},{113,30}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{113,30}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>whalespeech_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{139,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,78}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items11-hd.pvr.ccz</string>
            <key>size</key>
            <string>{508,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4e6e1105343b0c9e785ef37ef6d116$</string>
            <key>textureFileName</key>
            <string>Items11-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
