<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT14_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,330},{114,161}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{114,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT15_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{134,161}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{134,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT16_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,163}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT17_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{122,161}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,2},{122,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT18_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,167},{98,161}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{98,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items32-hd.pvr.ccz</string>
            <key>size</key>
            <string>{242,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e27f4f13033f362dc40e2dccfbf575$</string>
            <key>textureFileName</key>
            <string>Items32-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
