<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hlb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{63,67}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{63,67}}</string>
                <key>sourceSize</key>
                <string>{101,81}</string>
            </dict>
            <key>hlb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,136},{65,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,201},{71,76}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{71,76}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{77,76}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{77,76}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb13.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,203},{71,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{71,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb14.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,276},{73,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{77,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{77,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb16.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,276},{73,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{73,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb17.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,351},{75,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{75,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb18.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,351},{79,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{79,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{63,67}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{63,67}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>hlb21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,136},{65,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb22.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,134},{65,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{65,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>hlb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{65,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{65,67}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>hlb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,69},{65,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>hlb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,67},{65,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>hlb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{65,80}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>hlb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{65,78}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{65,78}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items10-hd.pvr.ccz</string>
            <key>size</key>
            <string>{248,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73cec945d276767293ed6cfa5068084d$</string>
            <key>textureFileName</key>
            <string>Items10-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
