<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{176,161}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{176,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT7_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{152,161}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{152,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT8_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{172,161}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{172,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>NT9_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,161}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{184,161}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items06-hd.pvr.ccz</string>
            <key>size</key>
            <string>{165,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:669c766ed195d53293af8b0331eed3e4$</string>
            <key>textureFileName</key>
            <string>Items06-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
